h1 {
  background-color: white;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

ol {
  position: relative;
  display: inline-block;
  margin-top: 50px;
}

#logo {
  height: 300px;
  width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#piano {
  margin-top: -50px;
  padding-bottom: 15px;

}

.treble {
  width: 9%;
  margin-right: -32px;
  margin-top: 40px;
}


.c, .csharp, .d, .dsharp, .e, .f, .fsharp, .g, .ab, .a, .asharp, .b {
 display:none;

}


li {
  position: relative;
  background-color: #FFFFF0;
  z-index: 1;
  padding: 275px 25px 80px;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 20px;
  margin-right: -1px;
  margin-left: -2px;
  border-radius: 0px 0px 7px 7px;
  color: transparent;
  box-shadow: -3px 7px 4px #2a2a2a;
}

li:active {
  box-shadow: -1px 2px 3px #2a2a2a;
}

.ebony {
  position: absolute;
  z-index: 2;
  background-color: #1d1d1d;
  padding: 200px 4px 12px;
  top: 0px;
  margin-left: -31px;
  box-shadow: none;
  border-width: 0px 6px 12px;
  border-color: #000;
  border-bottom-color: #2a2a2a;
}

.ebony:hover {
  color: white;
}

.ebony:active {
  border-bottom-width: 8px;
  box-shadow: none;
}

.ivory {
  background-color: white;
  height: 20%;
}

.ivory:hover {
  color: black;
}

.ivory:active {
  border-bottom-width: 8px;
  box-shadow: none;
}

#leftHalf {
  margin-right: -20px;
}

#rightHalf {
  margin-left: -20px;
}


#C {
  border-top-left-radius: 8px;
}

#B1 {
  border-top-right-radius: 8px;
}

#results {
  background-color:white;
  padding-left: 20px;
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid darkgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  display:none;
}

.radio {
  font-size: 24px;
  display: inline-flex;
}
