h1 {
  background-color: white;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

.piano {
  display: block;
  margin-left: 80px;
  top: 0;
  left: 0;

}


.keysC-F{
  position: relative;
  width: 5em;
  height: 20em;
  margin-left: -4px;
  margin-right: -3px;
  top: 0;
  left: 0;
}

.keysD-G-A{
  position: relative;
  width: 5em;
  height: 20em;
  margin-left: -1px;
  margin-right: -4px;
  top: 0;
  left: 0;
}

.keysE-B{
  position: relative;
  width: 5em;
  height: 20em;
  top: 0;
  left: 0;
}

#cSharp4 {
  position: relative;
  width: 2.2em;
  height: 20em;
  padding-left: 5px;
  margin-right: 5px;
  top: 0;
  left: -878px;
}

#dSharp4 {
  position: relative;
  width: 2.3em;
  height: 20em;
  padding-left: 5px;
  margin-right: 5px;
  top: 0;
  left: -854px;
}

.sharpD-G-A {
  position: relative;
  width: 2.6em;
  height: 20em;
  margin-left: -4px;
  margin-right: -3px;
  top: 0;
  left: -875px;
}

#e4, #c5,  #e5 {
  width: 4em;
}

.treble {
  width: 9%;
  margin-right: -32px;
  margin-top: 40px;
}

#pitch {
  margin-left: 175px;
  margin-top: -145px;
}

h3 {
  color: grey;
  text-align: center;
}

p, ul, li {
  text-align: left;
  color: grey;
    list-style-type: none;
}

 .major, .minor {
  padding-left: 20px;
}

#results {
  background-color:white;
  padding-left: 20px;
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid darkgrey;
  padding-top: 20px;
  padding-bottom: 20px;
  display:none;
}

#cminor {
  width: 50%;
}

 .c, .csharp, .d, .dsharp, .e, .f, .fsharp, .g, .ab, .a, .asharp, .b {
  display:none;

}

.ui.grey.basic.button {
  font-size: 15px;
}

.pitch {
  width:7%;
  margin-left: -15px;
  margin-right: 3px;
  margin-top: 25px;
}

.header {
  margin-bottom: 8em;
  margin-top: -1em;
  margin-left: -58px;
  text-align: center;
}
